Package: com.hoanpro.StatusBar
Name: StatusBar
Version: 1.0.0
Architecture: iphoneos-arm64
Description: !
Maintainer: Hoanpro
Author: Hoanpro
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), firmware (>=14.0)
